#btn1{
    width: 70%;
    margin-bottom:10px;
}

#btn2{
    width: 70%;
    margin-bottom: 10px;
}

#btn3{
    width: 70%;
    margin-bottom: 10px;
}

#btn4{
    width: 70%;
    margin-bottom: 10px;
}

#btn5{
    width: 70%;
    margin-bottom: 10px;
}

.img1{
    width: 102px;
    height: 102px;
    margin-left: 80%;
}
.ocultar{
    display: none;
}

