#btn1{
    width: 70%;
    margin-bottom: 30%;
}

#btn2{
    width: 70%;
    margin-bottom: 30%;
}

#btn3{
    width: 70%;
    margin-bottom: 30%;
}

#btn4{
    width: 70%;
    margin-bottom: 30%;
}

#btn5{
    width: 70%;
    margin-bottom: 30%;
}

.img1{
    width: 102px;
    height: 102px;
    margin-left: 80%;
}

.uno{
    border: 1px solid burlywood;
   
}

.dos{
    border: 1px solid burlywood;
   
}

.tres{
    border: 1px solid burlywood;
   
}

.cuatro{
    border: 1px solid burlywood;
    
}

.est1{
    border: 1px solid burlywood;
  
}

.est2{
    border: 1px solid burlywood;
    
}

.pri{
    border: 1px solid burlywood;
    
}

.seg{
    border: 1px solid burlywood;
    
}

.ter{
    border: 1px solid burlywood;
   
}

.cuar{
    border: 1px solid burlywood;
  
}

.quin{
    border: 1px solid burlywood;
   
}

.imp{
    border: 1px solid burlywood;
    
}

.t1{
    border: 1px solid burlywood;
    
}

.t2{
    border: 1px solid burlywood;
   
}