#btn1{
    width: 70%;
    margin-bottom: 30%;
}

#btn2{
    width: 70%;
    margin-bottom: 30%;
}

#btn3{
    width: 70%;
    margin-bottom: 30%;
}

#btn4{
    width: 70%;
    margin-bottom: 30%;
}

#btn5{
    width: 70%;
    margin-bottom: 30%;
}

.img1{
    width: 102px;
    height: 102px;
    margin-left: 80%;
}
